
.out{
    width: 600px;
    margin:75px auto;
    position: relative;
}
.nav{
    height: 50px;
    line-height: 50px;
}
.size{
    font-size:16px;
}
.input{
    width: 400px;
}
.top{
    text-align: center;
    margin-bottom: 15px;
}

.add{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    position: absolute;
    left: 35px;
}
.back{
    width: 100px;
    height: 40px;
    margin-top: 20px;
    position: absolute;
    left: 180px ;
}
.tag{
    color:red;
}
