
.nav{
    height: 50px;
    line-height: 50px;
}
.size{
    font-size:16px;
}
.layui-input{
    width: 300px;
}
.selStage,.selLocation{
    margin-left: 0;
    margin-bottom: 15px;
}
.content{
    width: 300px;
}
.left_input{
    position: relative;
    left: 100px;
}
.right_input{
    position: relative;
    left: -50px;
}
.left{
    width: 50%;
    position: relative;
    float: left;
    top: 100px;
}
.right{
    width: 50%;
    position: relative;
    float: left;
    top: 250px;
}
#demo1{
    width: 300px;
    height: 130px;
    position: absolute;
    top:-180px;
    left: 110px;
}
.add{
    width: 120px;
    height: 40px;
    position: relative;
    top: 10px;
    left: -30px;
}
.back{
    width: 120px;
    height: 40px;
    position: relative;
    top: 10px;
    left: -10px;
}
#imagePath{
    width: 300px;
    /*float: left;*/
    position: absolute;
    left: 110px;
    top: -50px;
}
.tag{
    color: red;
}
#stage,#location,#img,#distp,#way{
    margin-left: 110px;
}
